<!DOCTYPE html>
<html lang="<%= @config[:site][:lang] %>">
<head>

  <meta charset="UTF-8" />
  <title><%= item[:title] %> | <%= @config[:site][:name] %></title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300italic">
  <link rel="stylesheet" type="text/css" href="<%= @items['/static/assets/styles.*'].path %>">
  <link rel="stylesheet" type="text/css" href="<%= @items['/static/assets/highlighting/thankful_eyes.*'].path %>">
  <link rel="shortcut icon" href="<%= @items['/static/favicon.ico'].path %>">

  <meta name=viewport content="width=device-width">

  <!-- Android Chrome 39+ theme color -->
  <meta name="theme-color" content="#3498db">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= @items['/rss.*'].path %>">

</head>
<body>

<div class="site">
<header class="title">
  <h1 class="author">
  <a href="<%= @items['/index.*'].path %>" title="back to home"><%= @config[:site][:name] %></a>
  </h1>
</header>

<div class="content">
  <article>
    <header>
    <h1><%= item[:title] %></h1>
    </header>

    <section>
    <%= yield %>
    </section>

<% if item[:kind] == 'note' %>
    <footer>
    <p class="metatada">Originally published on <%= get_pretty_date(item) %>.</p>

    <hr>

    <p id="navlinks" class="navinfos">
    <%= previous_link(item) %>
    <span>|</span>
    <%= next_link(item) %>
    </p>
    </footer>
<% end %>
  </article>
</div>

</div> <!-- /.site -->
</body>
</html>
